.member-login-modal > .ms-Dialog-main {
  width: 90%;
  max-width: 350px;
  & label {
    margin-top: 10px;
  }
  & button[type="submit"] {
    margin-top: 15px;
  }

  & .controls {
    text-align: center;
    padding: 18px 0px 13px;

    & > button {
      margin-top: 0px !important;
    }
    
  }

  .divider {
    position: relative;
    border: 1px solid transparent;

    .divider-text {
      position: absolute;
      top: -2px;
      left: calc(50% - 52px);
      padding: 0px 10px;
      background-color: white;
    }

    hr {
      margin-top: 15px;
      margin-bottom: 15px;
      border-top: 1px solid #adadad;
    }
  }

  .social-btn {
    border: 0;
    background-color: transparent;

    .logo {
      width: 30px;
    }
  }
}
