@import '~generic/styles/utils';

.member-terms-modal {
  & .ms-Dialog-main {
    max-width: 500px;
    
    @include xs {
      width: 90%;
      max-height: 85vh;
    }
  }

  & .ms-Dialog-title{
    font-weight: 300;
  }

  & h1 {
    font-size: 25px;
  }
  & .terms-content {
    max-width: 500px;
    max-height: 500px;
    overflow-y: scroll;
    @include xs {
      max-height: calc(85vh - 140px);
    }
    & h2 {
      font-size: 18px;
    }
  }
}