@import '~generic/styles/utils';

#cart-dropdown {
  border-radius: 50%;
  width: 35px;
  text-align: left;
  padding: 0px 13px;
  height: 35px;
  margin: 13px 10px;
  background: #4DB6AC;
  color: #FFFFFF;

  & + ul {
    margin-top: -1px;
    padding: 0px;

    background: transparent;
    border: none;
    box-shadow: none;
  }
}
