.app-bar{
  border-bottom: 1px solid #e6eff3 !important;
  background: #FFF !important;
}

@include md-min {
  .c-layout-header-fixed.c-layout-header-topbar .c-layout-page {
    margin-top: 65px;
  }
  .c-layout-header.app-bar {
    z-index: 5 !important;
  }
}


.c-brand {
  margin: 10px 0px !important;
}

.c-logo > img {
  height: 50px;
  margin: 0px;
}

nav.c-mega-menu > ul > li:nth-child(1) > ul {
  top: 65px;
}

.dropdown-menu.c-menu-type-inline{
  border: none;
}