@import '~generic/styles/utils';

$app-bar-height: 60px;
.app-bar {
  width: 100%;
  height: $app-bar-height;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 4px, rgba(0, 0, 0, 0.1) 0px 1px 3px !important;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
  background-color: #FFF;

  & > header {
    height: $app-bar-height;
    margin: 0px auto;

    @include lg {
      width: 1170px;
    }
    @include md {
      width: 970px;
    }

    @include sm {
      width: 750px;
    }

    @include xs {
      padding-left: 20px;
      padding-right: 10px;
    }

    & > .logo {
      display: inline-block;
      height: $app-bar-height;
      padding: 6px 0px;
      & > img {
        height: 50px;
        margin-top: 0px;
      }
    }

    & > .app-bar-container {
      display: inline-block;
      float: right;

      & > .navs {
        display: inline-block;
        vertical-align: top;

        @include xs {
          display: none;
        }
        
        & > .btn-group {
          vertical-align: top;
          padding: 0px 2px;
        }
      }

      
    }
  }
}