@import '~generic/styles/utils';

.c-shop-product-tab-1 .nav > li > a:hover, .c-shop-product-tab-1 .nav > li > a:focus {
  cursor: pointer;
}

.c-content-box.c-size-md {
  @include sm-max {
    margin-top: 30px;

  }
}

.tab-content {
  & > .tab {
    display: none;
    &.active {
      display: block;
    }
    & * {
      max-width: 100%;
      height: initial !important;
    }
  }
}
