@import '~generic/styles/utils';

.c-shop-product-details-2 .c-product-meta > .c-content-title-1 {
  float: none !important;
  margin-top: 10px;
}

.c-shop-product-details-2 .c-product-meta .c-product-meta-label {
  float: none !important;
}
