$font-family: San Francisco, PingFang, STHeiTi, 文泉驛微米黑, Ubuntu, 微軟正黑體;

$text-color1: #3f3a35;
$text-color2: #58514a;
$text-color3: #6f655b;
$text-color4: #8b837b;

$text-color-black: #111111;

$link-color1: #9c5922;
$link-color2: #6d4226;
$border-color1: #ada59d;
$border-color2: #ebd8d1;

$bg-color1: #fcfaf7;
$bg-color2: #fbf8f4;
$bg-color3: #faf6f0;

$box-shadow1: rgba(0, 0, 0, 0.18) 0px 1px 6px, rgba(0, 0, 0, 0.1) 0px 1px 4px;


$xs-min-width: 480px !default;
$sm-min-width: 768px !default;
$md-min-width: 992px !default;
$lg-min-width: 1200px !default;
