.page-loading-error {
  position: relative;
  height: calc(100vh - 140px);

  &.bottom {
    height: 100px;

    & > .error-retry-box {
      margin-top: -7px;
    }
  }

  & > .error-retry-box {
    margin-top: -30px;
  }
}
