@import '~generic/styles/utils';

.page-title {
  height: 60px;
  background: url(Page/images/page-title-bg2.png) bottom repeat-x;

  & > .title-wrap {
    height: 60px;
    float: left;
    background: url(Page/images/page-title-bg1.png) right bottom no-repeat;

    & > h1 {
      color: $text-color1;
      font-size: 24px;
      padding: 15px 25px 10px 15px;
      margin: 0px;
      font-weight: normal;
    }
  }
}
